.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #2b2d2c, #456857, #02ff9a);
  padding: 0 50px;
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  color: #2bfb0f;
}
a {
  text-decoration: none;
}
.logo h2 {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(94, 223, 92);
  font-weight: 900;
}

.nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: #2bfb0f;
}

.login_btn {
  background-color: #2b2d2c;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
}

.login_btn:hover {
  background-color: #404241;
}

.lady img {
  width: 100%;
  height: 60%;
  margin-right: 40px;
  background: url("../../assets/background.jpeg") center;
  background-size: cover;
}
.lady {
  margin: 0px 90px 220px 90px;
}

.about_p {
  width: 70%;
  margin-left: 100px;
  line-height: 25px;
  margin-top: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.container_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
  border-bottom: 1px solid #000;
}

.Blog_img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Blog_pleg {
  flex: 1;
  margin-right: 10px;
}

.Blog_img img {
  max-width: 300px;
  height: auto;
  margin-right: 100px;
}

.image_section {
  margin-right: 15rem;
}

.hr {
  height: 100%;
}

.container_all {
  display: flex;
  justify-content: flex-start;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.photo {
  margin-left: 60px;
}

.photo img {
  max-width: 600px;
  height: auto;
}

.text p {
  flex: 1;
  margin-left: 90px;
  width: 10px;
  line-height: 30px;
}

.footer {
  background-image: linear-gradient(to right, #2b2d2c, #456857, #02ff9a);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.footer img {
  width: 100%;
  max-width: 600px;
}

.footer .footer_section {
  flex: 1;
  min-width: 150px;
}

.footer .footer_section h4 {
  font-size: 18px;
  margin-left: 6rem;
}

.footer .footer_section p {
  font-size: 14px;
  line-height: 1.6;
  width: 350px;
}

.footer .footer_section a {
  color: white;
  text-decoration: none;
}
