.nitroeef {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.add_contribution {
    padding: 20px;
    background-color: #88b488a7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width:415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .add_contribution h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .add_contribution form {
    display: flex;
    flex-direction: column;
  }
  
  .add_contribution form div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .add_contribution form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .add_contribution form input,
  .add_contribution form select,
  .add_contribution form textarea {
    padding: 7px 17px;
    border-radius: 7px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .add_contribution form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add_contribution form button:hover {
    background-color: #0056b3;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .texttroy {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* allows vertical resizing */
    font-size: 16px;
  }
  
  .texttroy:focus {
    border-color: #4CAF50; /* or any color you prefer */
    outline: none;
  }
  .loader{
    animation: spin 1s linear infinite;

  }

  .btn:disabled, .btn:disabled:hover{
    background-color: #b0c4de; /* Lighten the background color */
    color: #6c757d; /* Grey out the text */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
    opacity: 0.6; /* Slightly fade the button */
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }