passwordInput.css .password {
  position: relative;
  margin-top: 20px;
}

.icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.input_reg {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #d7e1f4;
  border-radius: 4px;
  font-size: 17px;
}
